.navBar{
    position: relative;
    z-index: 100 !important;
}
.inputs{
    position: relative;
    z-index: 100 !important;
    
}

.api{
    color: lightblue !important;
}
.subject{
    color: lightblue !important;
}
